.text-Default{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;     /* Centrar verticalmente */
    font-family: Arial, sans-serif; /* Fuente predeterminada */
    background-color: #f0f0f0; /* Fondo claro para contraste */
  }
  
  /* Estilo de texto predeterminado */
  .texto-predeterminado {
    color: #006400; /* Verde medio oscuro para los títulos */
    font-weight: bold;
    text-align: center; /* Alineación centrada */
  }
  
  /* Estilo secundario para el texto negro */
  .texto-secundario {
    color: #000000; /* Negro */
    text-align: center; /* Alineación centrada */
  }